body {
    font-family: Georgia, serif;
    font-weight: 400;
    width: auto;
    height: 100%;
}
.content {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.header {margin: auto;}
.content__input {
    width: 80%;
    height: 200px;
    border-width: 0;
}
.content__keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.content__keyboard div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
}
.content__input {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}
.content__keyboard div button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-family: Georgia;
    font-weight: 700;
    color: white;
    background-color: rgb(8, 8, 8);
}
#backspace {
    width: 100px;
}
#tab {
    width: 50px;
}
#caps-lock {
    width: 100px;
}
#enter {
    width: 90px;
}
#shift {
    width: 95px
}
#space {
    width: 350px;
}
.elem-hover {
    animation-name: blink;
    animation-duration: 1.5s;
    background-color: white;
}
@keyframes blink {
    from {transform: rotate(0deg);background-color: white;}
    to {transform: rotate(360deg);}
}
p {margin: auto;}
.content__keyboard div button:hover {
  background-color: white;
  color: black;
}